h1{
    left: 100px;
    display: block;
    margin: 0px;
    margin-left: 5px;
}

label{
    font-size: 18px;
    display: inline-block;
    width: 200px;
}

.header{
    width: fit-content;
    background-color:rgb(35, 163, 9);
    padding: 0px;
    margin: 0px;
}


form{
    margin: auto;
    padding: 20px 60px 20px 60px;
    top: 100px;
    border-radius: 5px;
    width: max-content;
    box-shadow: 8px 8px 20px 5px #bcbcbc;
}

input{
    font-size: 20px;
    padding: 2px;
}


.field{
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn{
    display: flex;
    justify-content: flex-end;
}

button{
    width: 100px;
    color: white;
    font-size: 20px;
    background-color: rgb(35, 163, 9);
}

body{
    margin: 0px;
    padding: 0px;
}

.tog{
    display: flex;
    justify-content: end;
}

.hide{
    margin-right: 170px;
    width: max-content;
    margin-top: 10px;
}

